.nav-container {
  float: left; }

.navbar-fixed-top {
  width: 265px;
  border-bottom-right-radius: 10px;
  border-right: 3px solid black;
  border-bottom: 3px solid black; }

.navbar {
  background-color: #000060;
  z-index: 100;
  position: fixed; }
  .navbar li {
    display: inline-block; }
  .navbar .tooltip-social, .navbar .drag-me .tooltip-social-left, .drag-me .navbar .tooltip-social-left {
    font-size: 25px;
    padding: 15px;
    color: #337ab7; }

.navbar-brand {
  margin-top: 7px;
  color: white; }
  .navbar-brand:visited {
    color: white; }
  .navbar-brand:hover {
    color: red; }

li {
  list-style: none;
  padding-left: 0; }

ol {
  padding-left: 0; }

#map-canvas {
  height: 100vh;
  width: 100vw;
  position: absolute; }

#resize-me {
  height: 130px;
  width: 450px;
  float: left; }

.drag-me {
  z-index: 9999999999;
  float: left;
  position: relative;
  display: inline;
  background-color: #000060;
  border-radius: 10px;
  border: 3px solid black;
  height: 100%;
  width: 100%; }
  .drag-me p {
    color: #337ab7;
    font-weight: bold;
    padding-right: 1vw;
    display: inline; }
  .drag-me li {
    margin-left: 2.5%;
    margin-top: 2.5%;
    display: block; }
  .drag-me select {
    border-radius: 10px; }
  .drag-me button {
    border-radius: 100%; }
  .drag-me .tooltip-social, .drag-me .tooltip-social-left {
    font-size: 20px;
    padding-left: 5px;
    color: #337ab7; }
    .drag-me .tooltip-social:hover, .drag-me .tooltip-social-left:hover {
      color: yellow; }
  .drag-me .tooltip-social-left {
    padding: 0 5px 0 0; }

.selects {
  top: 65px;
  left: 20px; }

.day-info {
  color: white;
  top: 65px;
  left: 250px;
  height: 310px;
  width: 250px; }
  .day-info .days {
    width: 100%; }
    .day-info .days li {
      display: inline-block; }
  .day-info .circle, .day-info .delete {
    height: 25px;
    width: 25px;
    border: 2px solid black;
    border-radius: 100%;
    text-align: center;
    margin: 0 5px; }
  .day-info .notdays {
    display: inline-block; }
    .day-info .notdays li {
      width: 100%;
      margin-left: 0; }
  .day-info .delete {
    display: inline-block; }
  .day-info p {
    color: #337ab7;
    font-weight: bold;
    padding-right: 1vw; }

.hover, .day-info .circle:hover, .day-info .delete:hover {
  background-color: yellow;
  color: black; }

.active {
  background-color: #337ab7;
  color: black; }

.container {
  width: 100%; }

#btn-container {
  display: inline-block; }
